.divison{
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;  
}

/* for options */

.options{
   
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgb(238, 227, 203);
    /*padding: 25px 30px 30px 30px;*/

}

.options nav ul li{
    list-style: none;
    float: left;
    margin-left: 6vw;
    margin-right: 5vw;
    /* margin: 0; */
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
}



.options nav ul button{
    width: 100%;
    background-color: rgb(238, 227, 203);
    border: none;
}

.options nav{
    position: relative;
    height: 4vw;
    width: 100%;
    display: flex;
    gap: 0;
    align-items: center;
}

.options nav label{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 4vw;
    cursor: pointer;
    color:  #967E76;
    font-size: 2vw;
    position: relative;
    z-index: 1;
}

#Visualise-Dijkstra:checked ~ nav label.Visualise-Dijkstra,
#Visualise-A:checked ~ nav label.Visualise-A,
#Clear-Path:checked ~ nav label.Clear-Path,
#Clear-All:checked ~ nav label.Clear-All{
    color: rgb(238, 227, 203);
}

input[type="radio"]
{
    display: none;
}

.options nav .slider{
    position: absolute;
    height: 100%;
    width: 20%;
    background: #967E76;
    border-radius: 5px;
    z-index: 0;
    left: 0;
    visibility: hidden;
    bottom: 0;
    top:0;
    transition: all 0.3s ease;
}

#initial:checked ~ nav .slider{
    background-color: rgba(255,255,255,0);
}
#Visualise-Dijkstra:checked ~ nav .slider{
    left:4.5%;
    visibility: visible;
}
#Visualise-A:checked ~ nav .slider{
    left:30%;
    visibility: visible;
}
#Clear-Path:checked ~ nav .slider{
    left:53.5%;
    visibility: visible;
}
#Clear-All:checked ~ nav .slider{
    left:75%;
    visibility: visible;
}

.bg{
    background-color:rgb(189, 205, 214);
    height: 13.5vw;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
}

.main-heading{
    text-align: center;
    color: rgb(96, 150, 180);
    margin-bottom: 3.8vw;
    padding: 0;
    font-size: 5vw;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
}



/*info*/

.fa-info{
    color: rgb(150, 126, 118);
    font-size: 2.5vw;
    align-self: self-end;
    

}

div a{
    position: absolute;
    right: 2vw;
    top: 1vw;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
}

a i{
    transition: all 0.3s linear;
}

a:hover i{
    transform: scale(1.4);
}

.modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77,77,77,0.4);
    transition: all 0s;
    visibility: hidden;
    opacity: 0;
}

.modal:target{
    visibility: visible;
    opacity: 1;
}

.modalcontent{
    position: relative;
    background-color: #EEE9DA;
    z-index: 2;
    width: 50%;
    height: 15vw;
    margin-top: 20vw;
    padding: 1vw 2vw;
    border-radius: 1vw;
    margin-top: 0px;
    
}

.modalcontent h1{
    font-family: 'Rajdhani', sans-serif;
    font-size: 3vw;
    text-align: center;
    margin: 0;
}

.modalcontent>ul> li{
    margin-top: 1vw;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.7vw;
    text-align: justify;
    margin-left: 0.5vw;
    font-weight: 400;
}

.modalclose{
    position: absolute;
    font-weight: 700;
    top: 0;
    right: 1vw;
    color: #585858;
    text-decoration:double;
    font-size: 3vw;
}

i[value="1"]{
    color:rgb(255, 135, 135);
}

i[value="2"]{
    color:#BCE29E;
}
i[value="3"]{
    color:rgb(12, 53, 71);
}

.struct{
    padding-top: 15vw;
}


  